.panel {
    position: fixed;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    cursor: default;
}

.right_panel {
    width: 250px;
    top : 30px;
    right: 50px;
}

.button {
    border: none;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    font-size: 90%;
    cursor: pointer;
    padding: 2px 8px;
    margin: 0 2%;
    width: 28%;
}

.button:hover {
    background: rgba(255, 255, 255, 0.9);
}

#algorithm_panel {
    right: 20px;
    top: 20px;
}